.card-margin {
  margin:30px;
}

body {
  background-color: rgb(178, 134, 247);

}
.card-text{
  font-family:helvetica;
  font-style: italic;
  font-size: 1.25em;
}
h6{
  text-align: center;
  font-family: cursive;
  color: black
